<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.luis.proyecto04">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="mx.com.luis.proyecto04.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="mx.com.luis.proyecto04.WRITE_DATABASE" android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InformacionActivity" />

        <provider
            android:name="mx.com.luis.proyecto04.modelo.PostProvider"
            android:authorities="mx.com.luis.proyecto04.modelo.PostProvider"
            android:exported="true"
            android:readPermission="mx.com.luis.proyecto04.READ_DATABASE"
            android:writePermission="mx.com.luis.proyecto04.WRITE_DATABASE"
            />


        <activity android:name=".AgregarPostActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.com.luis.proyecto04.MainActivity" />
        </activity>
        <service android:name=".JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name=".PostServiceReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>